.btn{
        color:white;
        border: none;
        text-transform: uppercase;
        background-color: $blue;
        padding: rem(11px) rem(20px);
        text-transform: uppercase;
        width: fit-content;
        
        &--select{
            padding: rem(6px) rem(25px);
        }
        &--mtop25{
            margin-top: 25px;
        }
        &:hover{
            background-color:black;
        }
}