.footer-top{
    
    &__list{
        display: flex;
        justify-content: space-between;
        @include tablets{
            flex-wrap: wrap;
            margin-right: rem(0px);
            justify-content:space-between
        }
        
    }
    &__content{
        p{
            margin-bottom: rem(30px);
        }
    }
    &__item{
        padding: rem(10px) 0;
        &:nth-child(1) {
            padding: 0 0 rem(5px) 0;
        }
        &:hover{
            color:$green;
            text-decoration: underline;
        }
    }
    &__link{
        
        border-bottom: rem(1px) dashed #555;
        display: block;
        padding: rem(5px) 0px;
        &:nth-child(1) {
            padding: 0 0 rem(5px) 0;
        }

    }
    &__column{
        
            max-width: 25%;
        
        @include tablets{
            max-width: 46%;
            margin-right: rem(25px);
            &:nth-child(2n){
                margin-right: 0;
            }
           
            
        }
        
    }
   
}
.blue{
    color:$blue;
}