.form{
    display: flex;
    flex-direction: column;
    &__email{
        font-size: rem(18px);
        padding: rem(7px) rem(20px);
        margin-bottom: rem(15px);
        outline: none;
        @include mobile-mini {
            padding: rem(7px) rem(12px);
        }
    }
    &__submit{
        color:white;
        border: none;
        
        font-size: rem(18px);
        padding: rem(7px) rem(20px);
        text-transform: uppercase;
        background-color: $blue;
        &:hover{
            background-color:black;
        }
    }
}