.main-menu{
    color:$main-menu;
    background-color:$main-menu-bg;
    font-size: rem(15px);
    &__list{
        display: flex;
        @include mobile{
            display: none;

        }
        
    }
    &__link{
        padding: rem(19px) rem(21px);
        display: block;
        &:hover{    
            background-color:$blue;
            color: white;
        }
        &--active{
            background-color:$blue;
            color: white;
        }
        @include tablets{
            padding: rem(10px) rem(10px);
        }
    }
    &__wrap{
        @include mobile{
            display: flex;
            align-items:center;
            padding: rem(15px) 0;
            flex-direction: column;
        }
    }
    
}
.sticky-menu{
    position: fixed;
    top: 0;
    
    z-index: 100;
    width: 100%;
    transition: 0.4s;
}

.menu-open{
    display: flex;
    flex-direction: column;
    width: 100%;
}