.our-products{
    @include mobile-mini{
        display: none;
    }
    &__list{
        display: grid;
        grid-gap: rem(10px);
        grid-template-columns: 1fr 1fr 1fr;
        @include mobile{
            grid-template-columns: 1fr;
            justify-items: center;
        }
    }
    &__item{
        @include mobile{
            &:nth-last-of-type(-n+2) {
                display: none;
            }
        }
        
    }
    &__header{
        position: relative;
    }
    &__title{
        margin-right: rem(25px);
        font-family: raleway;
        font-size: rem(30px);
        font-weight: 100;
        margin-bottom: rem(40px);
        &--footer{
            
            
            color:white;
            margin-bottom: rem(15px);
            
        }
        &--blue{
            color:#999999;
            font-weight: 200;
            font-family:Arial, Helvetica, sans-serif;
        }
        
    }
    &__link{
        position: absolute;
        top: rem(9px);
        right: rem(5px);
        background: $blue;
        color: #fff;
        padding: rem(3px) rem(15px);
    }
    &__content{
        @include mobile{
            display: flex;
        }
    }
}