.promo{

    &__list{
        display: flex;
        @include tablets {
            flex-wrap: wrap;
        }
    }
    &__item{
        color: white;
        margin-right: 2%;
        width: 25%;
        padding: rem(20px) rem(10px);
        display: flex;
        flex-direction: column;
        align-items: center;
        @include tablets{
            width: 48%;
            &:nth-child(-n+2){
                margin-bottom: rem(30px);
            }
        }
        &:nth-child(1){
            background-color: $blue;
        }
        &:nth-child(2){
            background: #ffd900;
        }
        &:nth-child(3){
            background: #fa8072;
        }
        &:nth-child(4){
            background: #4abebd;
            margin-right: 0;
        }
        &:hover{
            background-color:black;
        }
    }
       
    &__title{
        font-size: rem(25px);
        font-weight: 200;
        margin-bottom: rem(10px);
        text-align: center;
    }
    &__img{
        max-height: rem(50px);
        max-width: rem(85px);
        fill: white;
    }
        
        
    
}
.promo-area{
    padding: rem(40px) 0 rem(40px);
    background-color: $headerGray-bg;
}