.single{
    font-family:Arial, Helvetica, sans-serif;
    display: flex;
    margin-bottom: rem(20px);
    &__img{
        max-height: rem(90px);
        margin-right: rem(15px);
        &--sidebar{
            max-height: rem(63px);
        }
    }
    &__name{
        margin-bottom: rem(12px);
        &--sidebar{
            font-size: rem(20px);
            @include tablets{
                font-size: $baseFontSize - 2px;
            }
        }
    }
    &__score{
        margin-bottom: rem(10px);
        max-width: rem(100px);
        display: flex;
        @include mobile-mini{
            display: none;
            &--visible {
                display: flex;
                justify-content: center;
            }
        }
        &-item{
        max-height: rem(14px);
        color: #ffc808;
        max-width: rem(40px);
        @include mobile-mini{
            max-height: rem(30px);
        }
        }
    }
    &--sidebar{
        margin-bottom: rem(30px);
        &:last-child{
            margin-bottom: 0;
        }
    }
    &__link{
        display: flex;
    }
   
}