.single-product {
  overflow: hidden;
  margin-right: 30px;
  margin-bottom: 50px;
  &:nth-child(5n) {
    margin-right: 0px;
  }
  &__title{
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 10px;
    margin-top: 15px;
  }
  &__price{
      margin-bottom: 10px;
  }
}

.single-product__img {
    position: relative;
}
.single-product__hover {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
    &::after {
        background: none repeat scroll 0 0 #000;
        content: "";
        height: 98%;
        left: -100%;
        opacity: 0.6;
        position: absolute;
        top: 0;
        width: 100%;transition: .4s;
      }
}

.single-product__hover a {
    background: none repeat scroll 0 0 #5a88ca;
    border-radius: 5px;
    color: #fff;
    display: block;
    
    left: 5%;
    margin: 0;
    padding: 10px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid #5a88ca;
    width: 80%;z-index: 99;transition: .4s;
    &:hover {
        background: #000;
        text-decoration: none;border-color: #444;
      }
}










.single-product__hover a.single-product__btn   {top: -25%;}
.single-product__hover a.single-product__link { bottom: -25%;}
.single-product:hover .single-product__hover a.single-product__btn {top: 32%;}
.single-product:hover .single-product__hover a.single-product__link {bottom: 32%;}
.single-product:hover .single-product__hover:after{left: 0}
.single-product:hover .single-product__title{color:$blue}

