.slider{
    display: flex ;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    &__box{
      max-width: $containerWidth;
    }
    
    &__text{
        position: absolute;
        right: rem(120px);
        top: rem(110px);
        @include tablets {
          display: none;
        }
    }
    &__title{
        font-size: rem(30px);
        &--green{
            color:#1bd172;
              }
    }
    &__description{
        margin-top: rem(5px);
        font-size: rem(18px);
    }
    &__button{
      position: relative;
        border: rem(1px) solid #eaeaea;
        padding: rem(1px);
        min-height: rem(34px);
        background: #fff;
        display: inline-block;
        width: auto;
        line-height: rem(30px);
        padding-left: rem(40px);
        padding-right: rem(20px);
        margin: 0;
        color: #666666;
        border-radius: rem(17px);
        transition: all 1s ease;
        margin-top: rem(10px);
        font-size: rem(14px);
       
        &:hover .slider__link-icon{
          transform: translateX(390%);
          
        }
        &:hover .slider__link{
          transform: translateX(-60%);
          color:$green;
          text-decoration: underline;
          
        }
    }
    &__link{
      transition: all 1s ease-in-out;
      display: inline-block;
       &-icon{
        transition: all 1s ease-in-out;
         max-height: rem(32px);
         max-width:rem(25px) ;
         vertical-align: middle;
         background-color:$blue;
         border-radius: 50%;
         color: white;
         position: absolute;
         left: 0;

       }
        
    }
}



  .arrow-left,
  .arrow-right{
    position: absolute;
    top: 50%;
    z-index: 1;
    &__icon{
      width: rem(32px);
      height: rem(32px);
      border: rem(1px) solid #eaeaea;
      text-align: center;
      display: block;
      border-radius: 50%;
      font-size: rem(30px);
      position: absolute;
      transform: translateY(-50%);
      transition: all 0.45s ease;
      line-height: rem(29px);
      overflow: hidden;
      fill: $blue;
      
      &:hover{
        background: $blue;
        color: #fff;
        border-color: $blue;
      }
    }
    
  }
  
  .arrow-left {
    transform: rotate(180deg);
    left: 5%;
    position: absolute;
    top: 46%;
    
    @include tablets{
      left: rem(24px);
    } 
  
   
  
  }
  
  .arrow-right {
    
    position: absolute;
    right: 5%;
  }
  .slider__box{
    position: relative;
   
  
  }
  .slider .bx-pager {
    text-align: center;
    padding: rem(20px) 0;
  }
  .slider .bx-pager-item {
    display: inline-block;
    margin: 0 rem(4px);
  }
  .slider .bx-pager-item a {
    display: inline-block;
    width: rem(16px);
    height: rem(16px);
    background: #fff;
    border-radius: 50%;
    border: rem(1px) solid #999;
    overflow: hidden;
    text-indent: rem(999px);    
    background:#999;
  }
  .slider .bx-pager-item a.active {
    background: #1bd172;
  }
  .slider .bx-pager-item a:hover {
    background: #1bd172;
  }