.social{
    &__list{
        display: flex;
    }
    &__link{
        
        &-item{
            padding: rem(10px);
            max-width: rem(40px);
            max-height: rem(40px);
            background-color:$blue;
            color:white;
            margin-right: rem(10px);
            &:hover{
                background-color:black;
                border: rem(1px) solid #666;
                color: $green;
            }
            
        }
    }
    
}
