$blue: #5a88ca;
$containerWidth: 1170px;
$baseFontSize: 14px;
$black: #333;
$headerGray-bg: #f4f4f4;
$headerGray:#888888;
$main-menu: #6e6a6a;
$white-border: #f1f1f1;
$green: #17a78b;
$orange: #fead53;
$border-gray:#ddd;
$white:#fff;



$tablets-landscape:1258px;
$tablets: 768px;
$mobile: 480px;
$mobile-mini: 320px;
$mobile-landscape:480px;
$iphoneX-landscape:375px;