.cart-bottom{
    display: flex;
    @include mobile-mini{
        flex-direction: column;
    }
    &__title{
        color:$blue;
        font-size: rem(25px);
        margin-bottom: rem(25px);
        text-transform: uppercase;
        font-weight: 500;
        &:hover{
            color:$green;
            text-decoration: underline;
        }
        @include mobile-mini{
            font-size: 12px;
        }
    }
}
.active-link{
    color:$green;
    text-decoration: underline;
}
.totals {
    margin-bottom: rem(30px);
}