.cart-table{
    border-bottom: rem(1px) solid #ddd;
    border-right: rem(1px) solid #ddd;
    margin-bottom: rem(50px);
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
    &__td, .cart-table__th, .cart-table__actions{
        border-left: rem(1px) solid #ddd;
        border-top: rem(1px) solid #ddd;
        padding: rem(15px);
        text-align: center;
        @include mobile-mini {
            font-size: 8px;

        }        
    }
    &__th{
        background:  $headerGray-bg;
    }
    
    &__img{
        max-width: rem(70px);
        @include mobile-mini {
            max-width: 4rem;
            
        }   
    }
    &__quanity{
        @include mobile{
            display: flex;
        }
        @include mobile-mini{
            flex-direction: column;
            align-items:center;
        }
    }
    
}