.totals-table{
    border-bottom: rem(1px) solid $border-gray;
    border-right: rem(1px) solid $border-gray;
    width: 100%;
    border-spacing: rem(0px);
    border-collapse: collapse;
    &__th{
        background:  $headerGray-bg;
        border-left: rem(1px) solid #ddd;
        border-top: rem(1px) solid #ddd;
    }
    &__td{
        border-left: rem(1px) solid #ddd;
        border-top: rem(1px) solid #ddd;
        padding: rem(10px);
    }
}