.category-name{
    display: flex;
    margin-bottom: rem(30px);
    &__list{
        display: flex;
        margin-right: rem(10px);
        @include tablets{
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    &__item {
        padding-left: rem(10px);
    }
    &__link{
        color:$blue;
    }
}