.main{
    padding: rem(80px) 0 rem(130px);
    &__wrapper{
        display: flex;
        &--shop{
            flex-direction: column;
        }

    }
    &-content{
        width: 67%;
        overflow: hidden;
        @include mobile {
            width: 100%;
        }
    }
}