.main{
    padding: 80px 0 130px;
    &__wrapper{
        display: flex;
        &--shop{
            flex-direction: column;
        }

    }
    &-content{
        width: 67%;
        overflow: hidden;
    }
}