.recent{
    &__item{
        padding: rem(10px);
        border-bottom: rem(1px) solid $white-border;
        color:$blue;
        &:hover{
            color:$green;
            text-decoration: underline;
        }
    }
}