.sidebar{
    font-family:Arial, Helvetica, sans-serif;
    width: 33%;
    margin-right: 5%;
    @include mobile{
        display: none;
    }
    
    &__item{
        margin-bottom: rem(50px);
    }
    &__title{
        margin-bottom: rem(30px);
        font-size: rem(25px);
        color: $orange;
        font-weight: 500;
        text-transform: uppercase;
    }
    &__form{
        display: flex;
        flex-direction: column;
    }
    &__input{
        margin-bottom: rem(10px);
        border: rem(1px) solid $border-gray;
        padding: rem(10px);
    }
    &__link{
        display: flex;
    }
  
}