.tabpanel{
    &__list{
        display: flex;
        justify-content: center;
        border-bottom: 1px solid $border-gray;
        margin: 0 0 30px;
    }
    &__tab{
        display: block;
        font-size: 16px;
        padding: 10px 30px;
        color:$black;
        background: none;
        border: none;
        &:hover{
            background-color:$blue;
            color:$white;
        };
        &--active{
            background-color:$blue;
            color:$white;
        }
    }
    &__description{
        display: none;
    }
    &__form{
        display: none;
    }
}

.enabled{
    display: flex;
}
.disabled{
    display: none;
}