.tabpanel{
    &__list{
        display: flex;
        justify-content: center;
        border-bottom: rem(1px) solid $border-gray;
        margin: 0 0 rem(30px);
    }
    &__tab{
        display: block;
        font-size: rem(16px);
        padding: rem(10px) rem(30px);
        color:$black;
        background: none;
        border: none;
        &:hover{
            background-color:$blue;
            color:$white;
        };
        &--active{
            background-color:$blue;
            color:$white;
        }
    }
    &__description{
        display: none;
    }
    &__form{
        display: none;
    }
}

.enabled{
    display: flex;
}
