.login{
    display: flex;
    background-color: $headerGray-bg;
    font-size: rem(18px);
    margin-bottom: rem(20px);
    padding: rem(15px);
    &__button{
        border: none;
        background-color: transparent;
        color: $green;
        text-decoration: underline;
        &:hover{
            color: $green;
            text-decoration: underline;
        }
    }
}