.login-form{
    background-color: $headerGray-bg;
    margin-bottom: rem(30px);
    padding: rem(25px);
    display: none;
    
    &__wrapper{
        overflow: hidden;
    }
    &__text{
        margin-bottom: rem(25px);
    }
    &__body{
        display: flex;
        flex-direction: column;
        width: 35%;
        @include  mobile{
            width: 100%;
        }
    }
    &__input{
        padding: rem(10px);
        border: rem(1px) solid $border-gray;
        margin-bottom: rem(25px);
    }
    &__checkbox-wrap{
        padding:rem(25px) 0 rem(15px);
    }
    &__lost-psw{
        color:$blue;
        &:hover{
            color:$green;
        }
    }
}

.coupon-form__wrapper{
    overflow: hidden;
}