.order{
    margin-bottom: rem(50px);
    &-table{
        width: 100%;
        border:rem(1px) solid $border-gray;
        border-collapse: collapse;
        &__td, .order-table__th, .order-table__tr  {
            border:rem(1px) solid $border-gray;
            text-align: center  ;
        }
        &__th{
            background: $headerGray-bg;
            font-size: rem(15px);
            text-transform: uppercase;
            padding: rem(15px);
        }
    }
    
}