.payment{
    &__list{
        margin-bottom: rem(30px);
    }
    &__label{
        font-weight: 700;
    }
    &__input{
        margin-bottom: rem(10px);
    }
    &__text{
        margin-bottom: rem(10px);
    }
    &__img{
        vertical-align: middle;
    }
    &__link{
        color:$blue;
        &:hover{
            color:green;
            text-decoration: underline;
        }
    }
    
}